<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XsiteDubai.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D000C52C2EA951AA00F120BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D000C53B2EA951AC00F120BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D000C5452EA951AC00F120BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
